## ПЗ 1

Осуществим предобработку данных с Твиттера, чтобы отчищенный данные в дальнейшем использовать для задачи классификации. Данный датасет содержит негативные (label = 1) и нейтральные (label = 0) высказывания.
Для работы объединим train_df и test_df.

Задания:

1) Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt)
 - для для замены @user на пробел, необходимо использовать re.sub()
при применении функции необходимо использовать np.vectorize(function).

2) Изменим регистр твитов на нижний с помощью .lower().

3) Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

4) Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

5) Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6) Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'.

7) Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'.

8) Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'.

9) Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1]).

10) Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

11) Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

12) Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

13) Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

14) Сохраним результат предобработки в pickle-файл.

In [1]:
apostrophe_dict = {
"ain't": "am not / are not",
"aren't": "are not / am not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had / he would",
"he'd've": "he would have",
"he'll": "he shall / he will",
"he'll've": "he shall have / he will have",
"he's": "he has / he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how has / how is",
"i'd": "I had / I would",
"i'd've": "I would have",
"i'll": "I shall / I will",
"i'll've": "I shall have / I will have",
"i'm": "I am",
"i've": "I have",
"isn't": "is not",
"it'd": "it had / it would",
"it'd've": "it would have",
"it'll": "it shall / it will",
"it'll've": "it shall have / it will have",
"it's": "it has / it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she had / she would",
"she'd've": "she would have",
"she'll": "she shall / she will",
"she'll've": "she shall have / she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so as / so is",
"that'd": "that would / that had",
"that'd've": "that would have",
"that's": "that has / that is",
"there'd": "there had / there would",
"there'd've": "there would have",
"there's": "there has / there is",
"they'd": "they had / they would",
"they'd've": "they would have",
"they'll": "they shall / they will",
"they'll've": "they shall have / they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had / we would",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what shall / what will",
"what'll've": "what shall have / what will have",
"what're": "what are",
"what's": "what has / what is",
"what've": "what have",
"when's": "when has / when is",
"when've": "when have",
"where'd": "where did",
"where's": "where has / where is",
"where've": "where have",
"who'll": "who shall / who will",
"who'll've": "who shall have / who will have",
"who's": "who has / who is",
"who've": "who have",
"why's": "why has / why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had / you would",
"you'd've": "you would have",
"you'll": "you shall / you will",
"you'll've": "you shall have / you will have",
"you're": "you are",
"you've": "you have"
}



short_word_dict = {
"121": "one to one",
"a/s/l": "age, sex, location",
"adn": "any day now",
"afaik": "as far as I know",
"afk": "away from keyboard",
"aight": "alright",
"alol": "actually laughing out loud",
"b4": "before",
"b4n": "bye for now",
"bak": "back at the keyboard",
"bf": "boyfriend",
"bff": "best friends forever",
"bfn": "bye for now",
"bg": "big grin",
"bta": "but then again",
"btw": "by the way",
"cid": "crying in disgrace",
"cnp": "continued in my next post",
"cp": "chat post",
"cu": "see you",
"cul": "see you later",
"cul8r": "see you later",
"cya": "bye",
"cyo": "see you online",
"dbau": "doing business as usual",
"fud": "fear, uncertainty, and doubt",
"fwiw": "for what it's worth",
"fyi": "for your information",
"g": "grin",
"g2g": "got to go",
"ga": "go ahead",
"gal": "get a life",
"gf": "girlfriend",
"gfn": "gone for now",
"gmbo": "giggling my butt off",
"gmta": "great minds think alike",
"h8": "hate",
"hagn": "have a good night",
"hdop": "help delete online predators",
"hhis": "hanging head in shame",
"iac": "in any case",
"ianal": "I am not a lawyer",
"ic": "I see",
"idk": "I don't know",
"imao": "in my arrogant opinion",
"imnsho": "in my not so humble opinion",
"imo": "in my opinion",
"iow": "in other words",
"ipn": "I’m posting naked",
"irl": "in real life",
"jk": "just kidding",
"l8r": "later",
"ld": "later, dude",
"ldr": "long distance relationship",
"llta": "lots and lots of thunderous applause",
"lmao": "laugh my ass off",
"lmirl": "let's meet in real life",
"lol": "laugh out loud",
"ltr": "longterm relationship",
"lulab": "love you like a brother",
"lulas": "love you like a sister",
"luv": "love",
"m/f": "male or female",
"m8": "mate",
"milf": "mother I would like to fuck",
"oll": "online love",
"omg": "oh my god",
"otoh": "on the other hand",
"pir": "parent in room",
"ppl": "people",
"r": "are",
"rofl": "roll on the floor laughing",
"rpg": "role playing games",
"ru": "are you",
"shid": "slaps head in disgust",
"somy": "sick of me yet",
"sot": "short of time",
"thanx": "thanks",
"thx": "thanks",
"ttyl": "talk to you later",
"u": "you",
"ur": "you are",
"uw": "you’re welcome",
"wb": "welcome back",
"wfm": "works for me",
"wibni": "wouldn't it be nice if",
"wtf": "what the fuck",
"wtg": "way to go",
"wtgp": "want to go private",
"ym": "young man",
"gr8": "great"
}


emoticon_dict = {
":)": "happy",
":‑)": "happy",
":-]": "happy",
":-3": "happy",
":->": "happy",
"8-)": "happy",
":-}": "happy",
":o)": "happy",
":c)": "happy",
":^)": "happy",
"=]": "happy",
"=)": "happy",
"<3": "happy",
":-(": "sad",
":(": "sad",
":c": "sad",
":<": "sad",
":[": "sad",
">:[": "sad",
":{": "sad",
">:(": "sad",
":-c": "sad",
":-< ": "sad",
":-[": "sad",
":-||": "sad"
}

In [2]:
import pandas as pd
import numpy as np
import re
# import matplotlib.pyplot as plt
# import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
from multiprocessing import Pool
from tqdm import tqdm_notebook as tqdm

In [3]:
from pymorphy2 import MorphAnalyzer
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import wordnet
import pickle

In [4]:
train_df = pd.read_csv('train_tweets.csv')
train_df.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [5]:
test_df = pd.read_csv('test_tweets.csv')
test_df.head()

      id                                              tweet
0  31963  #studiolife #aislife #requires #passion #dedic...
1  31964   @user #white #supremacists want everyone to s...
2  31965  safe ways to heal your #acne!!    #altwaystohe...
3  31966  is the hp and the cursed child book up for res...
4  31967    3rd #bihday to my amazing, hilarious #nephew...

In [6]:
combine_df = train_df.append(test_df, ignore_index = True, sort = False)
combine_df.head()

   id  label                                              tweet
0   1    0.0   @user when a father is dysfunctional and is s...
1   2    0.0  @user @user thanks for #lyft credit i can't us...
2   3    0.0                                bihday your majesty
3   4    0.0  #model   i love u take with u all the time in ...
4   5    0.0             factsguide: society now    #motivation

In [7]:
combine_df.shape[0]

49159

In [8]:
combine_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49159 entries, 0 to 49158
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      49159 non-null  int64
 1   label   31962 non-null  float64
 2   tweet   49159 non-null  object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

2. Удалим @user из всех твитов с помощью паттерна "@[\w]*". Для этого создадим функцию: 
 - для того, чтобы найти все вхождения паттерна в тексте, необходимо использовать re.findall(pattern, input_txt) 
 #### не очень понятно зачем это делать.
 
 
 - для замены @user на пробел, необходимо использовать re.sub()
 - при применении функции необходимо использовать np.vectorize(function)

3. Изменим регистр твитов на нижний с помощью .lower()

In [9]:
m = MorphAnalyzer()


def no_at_text(text):
    
    """Заменяем в тексте все слова начинающиеся с "@" на пробел 
    и переводим весь текс в нижний регистор"""
    
     
    return  re.sub(r'@[\w]*', ' ', text.lower())

4. Заменим сокращения с апострофами (пример: ain't, can't) на пробел, используя apostrophe_dict. Для этого необходимо сделать функцию: для каждого слова в тексте проверить (for word in text.split()), если слово есть в словаре apostrophe_dict в качестве ключа (сокращенного слова), то заменить ключ на значение (полную версию слова).

5. Заменим сокращения на их полные формы, используя short_word_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

6. Заменим эмотиконы (пример: ":)" = "happy") на пробелы, используя emoticon_dict. Для этого воспользуемся функцией, используемой в предыдущем пункте.

In [10]:
def no_apostrophes_text(text):
    
    """Заменяем сокращения с апострофами на полную версию используя apostrophe_dict
       Заменяем сокращения на их полные формы, используя short_word_dict. 
       Заменяем эмотиконы на их значения, используя emoticon_dict. """

    for word in text.split():
        if word in apostrophe_dict:
            text = text.replace(word, apostrophe_dict[word])
        if word in short_word_dict:
            text = text.replace(word, short_word_dict[word])
        if word in emoticon_dict:
            text = text.replace(word, emoticon_dict[word])
    return text

7. Заменим пунктуацию на пробелы, используя re.sub() и паттерн r'[^\w\s]'

In [11]:
def no_punctuation_text(text):
    
    """Заменим пунктуацию на пробелы"""
    
    return re.sub(r'[^\w\s]', ' ', text)

8. Заменим спец. символы на пробелы, используя re.sub() и паттерн r'[^a-zA-Z0-9]'

In [12]:
def no_special_characters_text(text):
    
    """Заменим спец. символы на пробелы"""
    
    return re.sub(r'[^a-zA-Z0-9]', ' ', text)

9. Заменим числа на пробелы, используя re.sub() и паттерн r'[^a-zA-Z]'

In [13]:
def no_numbers_text(text):
    
    """Заменим числа на пробелы"""
    
    return re.sub(r'[^a-zA-Z]', ' ', text)

10. Удалим из текста слова длиной в 1 символ, используя ' '.join([w for w in x.split() if len(w)>1])

In [14]:
def remove_short_words(text):
    
    """Удалим из текста слова длиной в 1 символ"""
    
    return ' '.join([w for w in text.split() if len(w)>1])

In [15]:
def cleared_text(text):
    
    """Оканчательная очистка текста согластно задачи"""
    
    text = no_at_text(text)
    text = no_apostrophes_text(text)
    text = no_punctuation_text(text)
    text = no_special_characters_text(text)
    text = no_numbers_text(text)
    text = remove_short_words(text)
    
    return text

11. Поделим твиты на токены с помощью nltk.tokenize.word_tokenize, создав новый столбец 'tweet_token'.

In [16]:
def tokens_word(text):
    
    """Поделим твиты на токены """
    
    text = cleared_text(text)
    
    return nltk.tokenize.word_tokenize(cleared_text(text))

In [17]:
with Pool(12) as p:
    tokens = list(p.imap(tokens_word, combine_df['tweet']))

In [18]:
combine_df['tweet_token'] = tokens
combine_df.sample(3)

,id,label,tweet,tweet_token
21720,21721,0.0,enjoy your own company ð #toptags days d...,"[enjoy, your, own, company, toptags, days, day..."
6341,6342,0.0,#model i love u take with u all the time in ...,"[model, love, yoyou, take, with, yoyou, all, t..."
46535,46536,NaN,"compliment a stranger today, see how it makes ...","[compliment, stranger, today, see, how, it, ma..."

12. Удалим стоп-слова из токенов, используя nltk.corpus.stopwords. Создадим столбец 'tweet_token_filtered' без стоп-слов.

In [19]:
stop_words = nltk.corpus.stopwords.words('english')

def remove_stopwords(text, stop_words = stop_words):
    
    """Удалим стоп-слова из токенов"""
    
    return [w for w in text if w not in stop_words]

In [20]:
with Pool(12) as p:
    stop_words = list(p.imap(remove_stopwords, combine_df['tweet_token']))

In [21]:
combine_df['tweet_token_filtered'] = stop_words
combine_df.sample(3)

,id,label,tweet,tweet_token,tweet_token_filtered
2835,2836,0.0,sunday...#flowers #garden #home #love #roses #...,"[sunday, flowers, garden, home, love, roses, g...","[sunday, flowers, garden, home, love, roses, g..."
45683,45684,NaN,"@user @user great piece. did you ever think, i...","[great, piece, did, you, ever, think, in, your...","[great, piece, ever, think, career, would, wri..."
37060,37061,NaN,today is a perfect day to be ! #happiness #li...,"[today, is, perfect, day, to, be, happiness, l...","[today, perfect, day, happiness, lifecoach, re..."

13. Применим стемминг к токенам с помощью nltk.stem.PorterStemmer. Создадим столбец 'tweet_stemmed' после применения стемминга.

In [22]:
stemmer = PorterStemmer()

def stem_words(text, stemmer = stemmer):
    
    """Применим стемминг к токенам """
  
    return [stemmer.stem(word) for word in text]

In [23]:
with Pool(12) as p:
    stem_words = list(p.imap(stem_words, combine_df['tweet_token_filtered']))

In [24]:
combine_df['tweet_stemmed'] = stem_words
combine_df.sample(3)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed
40812,40813,NaN,the @user row: makes a statement! - #udtapu...,"[the, row, makes, statement, udtapunjabaaplink...","[row, makes, statement, udtapunjabaaplink, udt...","[row, make, statement, udtapunjabaaplink, udta..."
43276,43277,NaN,@user #humpday gotta keep this body right f...,"[humpday, got, ta, keep, this, body, right, fo...","[humpday, got, ta, keep, body, right, summer]","[humpday, got, ta, keep, bodi, right, summer]"
35901,35902,NaN,today 18 june 2016 again mural #me #friends ...,"[today, june, again, mural, me, friends, mural...","[today, june, mural, friends, mural, alamsekit...","[today, june, mural, friend, mural, alamsekita..."

14. Применим лемматизацию к токенам с помощью nltk.stem.wordnet.WordNetLemmatizer. Создадим столбец 'tweet_lemmatized' после применения лемматизации.

In [25]:
lemmatizer = WordNetLemmatizer()

def get_wordnet_pos(word):
    
    """Сопоставим тег POS с первым символом"""
    
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}
    return tag_dict.get(tag, wordnet.NOUN)

def lemma_words(text):
    
    """Применим лемматизацию к токенам"""
    
    return [lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in text]

In [26]:
with Pool(12) as p:
    lemma_words = list(p.imap(lemma_words, combine_df['tweet_token_filtered']))

In [27]:
combine_df['tweet_lemmatized'] = lemma_words
combine_df.sample(3)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
20259,20260,1.0,@user stop this,"[stop, this]",[stop],[stop],[stop]
19464,19465,0.0,just me ad me alone nw,"[just, me, ad, me, alone, nw]","[ad, alone, nw]","[ad, alon, nw]","[ad, alone, nw]"
6622,6623,0.0,"company profile happy days childcare, inc. - ...","[company, profile, happy, days, childcare, inc...","[company, profile, happy, days, childcare, inc...","[compani, profil, happi, day, childcar, inc, d...","[company, profile, happy, day, childcare, inc,..."

15. Сохраним результат предобработки в pickle-файл.

In [28]:
with open('combine_df.pickle', 'wb') as f:
    pickle.dump(combine_df, f)